<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter position...">
</form>
<table class="table table-dark">
<thead>
  <tr>
    <th>Data/Time</th>
    <th>Attended</th>
    <th>Client</th>
    <th>Employee</th>
    <th>Lesson</th>
    <th> <button id="showFormButton">➕</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let visit of visits | visitsFilter:searchText">
    <td>{{visit.dateTime | formatDataTime}}</td>
    <td>{{visit.attended}}</td>
    <td>{{visit.client.fullName}}</td>
    <td>{{visit.employee.fullName}}</td>
    <td>{{visit.lesson.category}}, {{visit.lesson.duration}} min</td>
    <td>
      <button class="action-icon">&#9998;</button>
      <button (click)="deleteVisitItem(visit)">&#10060;</button>
    </td>
  </tr>
  </tbody>
</table>
