<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter position...">
</form>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Level</th>
    <th>Memb. count</th>
    <th>Age Category</th>
    <th> <span id="showFormButton">➕</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let swGroup of swGroups | swgroupFilter:searchText">
    <td>{{swGroup.id}}</td>
    <td>{{swGroup.level}}</td>
    <td>{{swGroup.memberCount}}</td>
    <td>{{swGroup.ageCategory}}</td>
    <td>
      <span class="action-icon">&#9998;</span>
      <span (click)="deleteSwGroupItem(swGroup)">&#10060;</span>
    </td>
  </tr>
  </tbody>
</table>
