<div class="form-group">
  <label for="level">Level</label>
  <input [(ngModel)]="swgroup.level" id="level" name="level" class="form-control" type="number">
</div>
<div class="form-group">
  <label for="memberCount">Member count</label>
  <input [(ngModel)]="swgroup.memberCount" id="memberCount" name="memberCount" class="form-control" type="number">
</div>
<div class="form-group">
  <label for="ageCategory">Age category</label>
  <input [(ngModel)]="swgroup.ageCategory" id="ageCategory" name="ageCategory" class="form-control" type="text">
</div>
<div class="modal-footer">
  <button type="button" routerLink="/groups" id="add-employee-form" class="btn btn-secondary custom-btn">Close</button>
  <button type="submit" class="btn btn-primary custom-btn" routerLink="/add-group" routerLinkActive="active"
          (click)="swveSwGroup()">Save changes
  </button>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
