<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter position...">
</form>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Day of Week</th>
    <th>Time</th>
    <th>Track</th>
    <th>Lesson ID</th>
    <th>Group ID</th>
    <th> <span id="showFormButton">➕</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let schedule of schedules | scheduleFilter:searchText">
    <td>{{schedule.id}}</td>
    <td>{{schedule.dayOfWeek}}</td>
    <td>{{schedule.time}}</td>
    <td>{{schedule.track}}</td>
    <td>{{schedule.lesson_id}}</td>
    <td>{{schedule.swgroup_id}}</td>
    <td>
      <span class="action-icon">&#9998;</span>
      <span (click)="deleteScheduleItem(schedule)">&#10060;</span>
    </td>
  </tr>
  </tbody>
</table>
