<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter position...">
</form>
<table class="table table-dark">
  <thead>
  <tr>
    <th>Category</th>
    <th>Duration</th>
    <th>Teacher</th>
    <th> <button id="showFormButton" routerLink="/add-lesson">➕</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lesson of lessons |lessonFilter:searchText">
    <td>{{lesson.category}}</td>
    <td>{{lesson.duration}}</td>
    <td>{{lesson.employee.fullName}}</td>
    <td>
      <button class="action-icon" [routerLink]="['/edit-lesson',lesson.id]">&#9998;</button>
      <button (click)="deleteLessonItem(lesson)">&#10060;</button>
    </td>
  </tr>
  </tbody>
</table>
