<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter position...">
</form>
<table class="table table-dark">
  <thead>
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Duration</th>
    <th>Employee Passport</th>
    <th> <button id="showFormButton">➕</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lesson of lessons |lessonFilter:searchText">
    <td>{{lesson.id}}</td>
    <td>{{lesson.category}}</td>
    <td>{{lesson.duration}}</td>
    <td>{{lesson.empPassNum}}</td>
    <td>
      <button class="action-icon">&#9998;</button>
      <button (click)="deleteLessonItem(lesson)">&#10060;</button>
    </td>
  </tr>
  </tbody>
</table>
