<form class="search" action="">
  <input type="search" placeholder="Enter id..." required>
</form>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Cost</th>
    <th>End Date</th>
    <th>Type</th>
    <th>Group ID</th>
    <th> <span id="showFormButton">➕</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let poolSubscription of poolSubscriptions">
    <td>{{poolSubscription.id}}</td>
    <td>{{poolSubscription.cost}}</td>
    <td>{{poolSubscription.endDate}}</td>
    <td>{{poolSubscription.type}}</td>
    <td>{{poolSubscription.swgroup_id}}</td>
    <td>
      <span class="action-icon">&#9998;</span>
      <span (click)="deletePoolSubscriptionItem(poolSubscription)">&#10060;</span>
    </td>
  </tr>
  </tbody>
</table>
