<h2>Employees</h2>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Passport</th>
    <th>Name</th>
    <th>Experience</th>
    <th>Position</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employees">
    <td>{{employee.passportNumber}}</td>
    <td>{{employee.fullName}}</td>
    <td>{{employee.experience}}</td>
    <td>{{employee.position}}</td>
    <td>
      <span class="action-icon">&#9998;</span>
      <span class="action-icon">&#10060;</span>
    </td>
  </tr>
  </tbody>
</table>
