<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter position...">
</form>
<div class="table-container">
<table class="table table-dark">
  <thead>
  <tr>
    <th>*Position</th>
    <th>Salary</th>
    <th>Bonus</th>
    <th><button class="nav-item-add" routerLink="/add-job-title" routerLinkActive="active">➕</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let jobTitle of jobTitles |jobTitleFilter:searchText">
    <td>{{jobTitle.position}}</td>
    <td>{{jobTitle.salary}}</td>
    <td>{{jobTitle.bonus}}</td>
    <td> <button class="action-icon" [routerLink]="['/edit-job-title', jobTitle.position]">&#9998;</button> <button (click)="deleteJobTitleItem(jobTitle)">&#10060;</button> </td>
  </tr>
  </tbody>
</table>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
