<header class="header">
      <div class="logo">
        <h1>Data Base CRUD</h1>
        <h2>Swimming-pool</h2>
      </div>
</header>
<main class="main">
  <div class="container">
    <div class="sidebar">
      <ul class="nav-links">
        <li class="nav-item" routerLink="/job-titles" routerLinkActive="active">Job Titles</li>
        <li class="nav-item" routerLink="/clients" routerLinkActive="active">Clients</li>
        <li class="nav-item" routerLink="/employees" routerLinkActive="active">Employees</li>
        <li class="nav-item" routerLink="/visits" routerLinkActive="active">Visits</li>
        <li class="nav-item" routerLink="/pool-subscriptions" routerLinkActive="active">Subscriptions</li>
        <li class="nav-item" routerLink="/schedules" routerLinkActive="active">Schedules</li>
        <li class="nav-item" routerLink="/lessons" routerLinkActive="active">Lessons</li>
        <li class="nav-item" routerLink="/swgroup" routerLinkActive="active">Group</li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
