<form class="search" action="">
  <input [(ngModel)]="searchText" type="search" name="searchText"  placeholder="Enter passport number...">
</form>
<table class="table table-dark table-striped">
  <thead class="table-header">
  <tr>
    <th>Passport</th>
    <th>Name</th>
    <th>Med. cert</th>
    <th>Employee</th>
    <th>Subscription</th>
    <th> <span id="showFormButton">➕</span></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients | clientFilterPipe: searchText">
    <td>{{client.passportNumber}}</td>
    <td>{{client.fullName}}</td>
    <td>{{client.medicalCertificate}}</td>
    <td>{{client.employee_passport_number}}</td>
    <td>{{client.subscription_id}}</td>
    <td>
      <span class="action-icon">&#9998;</span>
      <span (click)="deleteClientItem(client)">&#10060;</span>
    </td>
  </tr>
  </tbody>
</table>

